body,
input,
textarea,
select { font-family:"Helvetica Neue", Helvetica, Arial, "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif; }

html { overflow-y:scroll; }

body.tao {
  color:#514f4f;
  background:/* url('images/pbearparty1.png') */no-repeat 98% 58px #f5f1e8;
}

a {
  color:#D96741;
  text-decoration:none;
}

a:hover, a:focus {
  color: #C65E3B;
}

.limiter { margin:0px 60px; }

/**
 * Skip to content link ===============================================
 */
#skip-link {
  width:200px;
  height:0px;
  left:50%;
  margin-left:-100px;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  left:0px;
  z-index:20;
  text-align:center;
  width:200px;
  background:#575555;
  color:#fff;
  opacity:.9;
  padding:10px 0px;
  border-radius:0px 0px 5px 5px;
  -moz-border-radius:0px 0px 5px 5px;
  -webkit-border-radius:0px 0px 5px 5px;
}

/**
 * "Rounded" elements =================================================
 */
.compact-link a,
input.teaser-button,
input.form-submit {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
}

/**
 * "Popped" elements ==================================================
 */
input.teaser-button,
input.form-submit {
  box-shadow:#ddd 0px 1px 1px;
  -moz-box-shadow:#ddd 0px 1px 1px;
  -webkit-box-shadow:#ddd 0px 1px 1px;
}

/**
 * "Embossed" elements ================================================
 */
table th {
  text-shadow:#fff 0px 1px 0px;
}

/**
 * Branding ===========================================================
 */
#branding {
  font-size:11px;
  overflow:hidden;
  margin: 0 0;
  padding: 0;
  background-color: #d9d5cd;
}

.darken {
  background-color: #d9d5cd;
  border-bottom: 0px solid transparent;

}

#branding .limiter {
  margin: 0;
}

#branding ul.links { float:right; }

#branding ul.links a {
  background:url(images/bleeds.png) 0% -30px no-repeat;
  color:#595757;
  float:left;
  padding:5px 10px;
}

#branding ul.links a:hover { background-position:0% -90px; }

#branding .breadcrumb {
  padding:0px;
  float:left;
  text-transform:uppercase;
  font-weight:normal;
  border-left: 1px solid #ECE8DF;
  display: none;
}

#branding .breadcrumb-link {
  float:left;
  position:relative;
}

#branding .breadcrumb-depth-0 { z-index:10; }
#branding .breadcrumb-depth-1 { z-index:9; }
#branding .breadcrumb-depth-2 { z-index:8; }
#branding .breadcrumb-depth-3 { z-index:7; }
#branding .breadcrumb-depth-4 { z-index:6; }
#branding .breadcrumb-depth-5 { z-index:5; }
#branding .breadcrumb-depth-6 { z-index:4; }
#branding .breadcrumb-depth-7 { z-index:3; }
#branding .breadcrumb-depth-8 { z-index:2; }

#branding .breadcrumb a,
#branding .breadcrumb strong {
  color:#848181;
  font-weight:normal;
  float:left;
  margin-right:-10px;
  padding:5px 20px;
  background:url(images/bleeds.png) 100% -60px no-repeat;
}

#branding .breadcrumb-depth-0 a,
#branding .breadcrumb-depth-0 strong { padding-left:10px; }

#branding .breadcrumb a:hover { background-position:100% -90px; }

/**
 * Page title =========================================================
 */
#page-title { background:transparent none; }
#page-title .limiter { position:relative; }

#page-title .page-title {
  float:left;
  padding:15px 10px 15px 0px;
  line-height:30px;
  min-height:30px;
  text-shadow:#fff 0px 1px 0px;
  -webkit-text-shadow:#fff 0px 1px 0px;
  font-weight:bold;
  font-size:20px;
  color: #d8663f;
}

#page-title .page-title span.icon {
  float:left;
  margin-right:10px;
}

.add-or-remove-shortcuts,
.action-links {
  float:left;
  font-size:11px;
}

.add-or-remove-shortcuts { padding:20px 0px; }
.action-links { padding:20px 0px 20px 10px; }

.action-links a {
  background-color:#7bc;
  text-shadow:#38a 0px 1px 0px;
}

.add-or-remove-shortcuts a {
  background-color:#999;
  text-shadow:#666 0px 1px 0px;
}

.add-or-remove-shortcuts a:hover, .add-or-remove-shortcuts a:focus {
  color: #fff;
}

/**
 * Tabs ===============================================================
 */

#tabbed {
  background-color: #d9d5cd;
  margin: 0 0;
  padding: 11px 30px 0;

}

.tabs {
  margin: 1.5em -30px 0;
}

/* primary-tabs */

.primary-tabs {
  /*    background: #F5F1E8;*/
  padding-left: 32px;
}

.primary-tabs li {
  float: left;
  display: inline;
  position: relative;
  margin-right: 20px;
}
.primary-tabs li a:before {
  content: ".";
  text-indent: -50000px;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -10px;
  background: url('images/rounded_tab.png') no-repeat  -20px  bottom;
  z-index: 99;
}

.primary-tabs li a:hover:before {
  background-position: -40px bottom;
}

.primary-tabs li a:after {
  content: ".";
  text-indent: -50000px;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: -10px;
  background: url('images/rounded_tab.png') no-repeat  -30px  bottom;
  z-index: 99;
}

.primary-tabs li a:hover:after {
  background-position: -50px bottom;
}

.primary-tabs li.active a:after, .primary-tabs li.active a:hover:after {
  content: ".";
  text-indent: -50000px;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: -10px;
  background: url('images/rounded_tab.png') no-repeat  -10px  bottom;
  z-index: 99;


}

.primary-tabs li.active a:before, .primary-tabs li.active a:hover:before {
  content: ".";
  text-indent: -50000px;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -10px;
  background: url('images/rounded_tab.png') no-repeat 0px  bottom;
  z-index: 99;
}

.primary-tabs li.active a, .primary-tabs li.active a:link, .primary-tabs li.active a:visited {
  background-color: #F5F1E8;
  border-color: #F5F1E8;
  border-bottom: 1px solid transparent;

}

.primary-tabs a, .primary-tabs a:link, .primary-tabs a:visited {
  display: block;
  padding: .7em 2em;
  background: #cbc8c0;
  color: #686662;
  border-radius: 8px 8px 0 0;
  -moz-border-radius:8px 8px 0 0;
  -webkit-border-radius:8px 8px 0 0;
  border: 1px solid #cbc8c0;
  text-shadow: 1px 1px 1px #f5f1e8;
}

.primary-tabs li a:focus, .primary-tabs li a:hover {
  background: none #c1beb7;
  border-color: #c1beb7;
}

/* Secondary tabs, nested */
.secondary-tabs {
  padding: 15px 0 15px 16px;
  background: #F5F1E8;
}

.secondary-tabs li {
  float: left;
  margin: 0 7px;
  list-style: none;
}

.secondary-tabs li a, .secondary-tabs li a:visited, .secondary-tabs li a:link {
  background-color: #EAE6DE;
  color: #686662;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 0px solid transparent;
  padding: .4em 1.2em;
  margin-top: 0;
  border: 1px solid transparent;
}

.secondary-tabs li.active a, .secondary-tabs li.active a:link, .secondary-tabs li.active a:visited,
.secondary-tabs li.active a:hover, .secondary-tabs li.active a:focus {
  box-shadow: 2px 2px 1px #CECBC4 inset;
  border: 1px solid #F7F3EA;
  background-color: #fff;
}

.secondary-tabs li a:hover, .secondary-tabs li a:focus {
  background-color: #E0DCD5;
}

/* pager */

div.pager {
  margin:10px 0px 0px;
  height:30px;
}

.pager li {
  height:30px;
  position:relative;
  background:#eee url(images/bleeds.png) 50% 0px no-repeat;
}

.pager a,
.pager span {
  float:left;
  text-align:center;
  min-width:70px;
  padding:5px 10px;
  color:#575555;
  text-shadow:#fff 0px 1px 0px;
}

.pager a,
.pager span {
  min-width:10px;
  padding:5px 15px;
}

.pager li:hover { background-color:#f8f8f8; }

.pager li:first-child {
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  background-position:0% 0px;
}

.pager li:last-child {
  border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  background-position:100% 0px;
}

.pager li.pager-current { background-color:#16C7D6; }

.pager li.pager-current span {
  color:#fff;
  text-shadow:#38a 0px 1px 0px;
}


/**
 * Content ============================================================
 */
.help-page,
div.comment,
div.node {
  border-style:solid;
  border-width:1px;
  border-color:#ddd;

  background:#fff url(images/vrule.png) 65% 0% repeat-y;
  margin:0px 0px 10px;
}

#help-text .column-main .column-wrapper,
.help-page .column-main .column-wrapper,
div.comment .column-main .column-wrapper,
div.node .column-main .column-wrapper { padding:19px; }

#help-text .column-main .column-wrapper {
  padding-left:59px;
  position:relative;
}

#help-text .column-main .column-wrapper span.icon {
  position:absolute;
  top:15px;
  left:15px;
}

#help-text .column-side .column-wrapper,
.help-page .column-side .column-wrapper,
div.comment .column-side .column-wrapper,
div.node .column-side .column-wrapper {
  padding:9px;
  font-size:11px;
}

#help-text .column-side .help-links,
.help-page .column-side .help-page-links,
.node-submitted,
.comment-submitted {
  padding:10px;
  background:#f8f8f8;
}

.comment-links,
.node-links { padding:10px 0px; }

.help-page .help-page-links ul.links {
  -moz-column-count:2;
  -webkit-column-count:2;
}

.column-side ul.links li,
.column-side ul.links a,
.column-side ul.links span {
  display:block;
  float:none;
}

.column-side ul.links a,
.column-side ul.links span {
  padding:0px 10px;
  display:block;
  float:none;
}

.column-side ul.links span a {
  padding:0px;
  display:inline;
}

.column-side ul.links a.active,
.column-side ul.links a:hover { background:#fff; }
.comment-links ul.links a:hover { background:#f4f4f4; }

.comment-title,
.node-title {
  margin:0px 0px 20px;
  font-weight:normal;
  font-size:16px;
}


/**
 * Webform template styling smaller and less confusing
 */

#ae-wizard-webform-template-selector {
  clear: both;
  width: 60%;
}


#edit-webform-template {
  width: 186px;
  padding-top: 2px;
  float: left;
  border: 0px solid transparent;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
}

#edit-webform-template label {
  visibility: hidden;
  display: block;
  height: 0;
  width: 0;
}

#ae-wizard-webform-template-selector .selecter {
  margin: 0 10px 0 0;
}

#ae-wizard-webform-template-selector input#edit-submit {
  font-size: 100%;
}

#edit-webform-template .fieldset-content {
  background: none transparent;
  padding: 0;
  box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
}



#form-builder-wrapper {
  clear: both;
}

/**
 * Make tables look nicer in fieldsets
 */

.field-group-fieldset table,
.field-group-fieldset th,
.field-group-fieldset td {
  background-color: transparent;
  border: none;
}

.field-group-fieldset td {
  border-top: 1px solid #C4C0BA;
  padding-bottom: 1.5em;
}

/**
 * Make Media look nice in rubik ==================================
 */

.field-type-image td {
  border: none;
  padding: 0;
}

.field-type-image .form-wrapper {
  background-color: #E4DFD6;
  margin-top: 2.8em;
  padding: 0.2em;
  margin-bottom: 1em;
}

.field-type-image label {
  font-weight: bold;
  font-size: 1em;
  margin-top: -3em;
}

.field-type-image td .form-wrapper,
.field-type-image th.field-label label {
  margin-top: 0;
}

.field-type-image .preview,
.field-type-image a.button {
  float: left;
	margin-top: 21px;
}

.field-type-image a.remove {
  background: url('images/remove-x.png') 6px 4px no-repeat #F3EFE6;
  color: #827F7F;
  text-shadow: none;
  font-size: 0.9em;
  line-height: 0.9em;
  border: none;
  padding-left: 2.2em;
  margin-top: 18px;
}

/* overwrite media.css preview styles */
.field-type-image .preview .media-item,
.field-type-image .preview .media-item img,
.field-type-image .preview .media-item .label-wrapper,
.field-type-image .preview .media-item .label-wrapper .media-filename,
.field-type-image .preview .media-item .label-wrapper:hover,
.field-type-image .preview .media-item .label-wrapper:hover .media-filename {
  padding: 0;
  margin: 0;
  border: none;
  line-height: inherit;
  cursor: pointer;
}
.field-type-image .preview .media-item .label-wrapper,
.field-type-image .preview .media-item .label-wrapper .media-filename,
.field-type-image .preview .media-item .label-wrapper:hover,
.field-type-image .preview .media-item .label-wrapper:hover .media-filename {
  display: block;
}

.field-type-image .preview {
  float: left;
  min-width: 100px;
  min-height: 131px;
  padding: 6px 6px 2px;
  margin: 10px;
  border: 1px solid #d3cec6;
  background: #fff;
  background-image: url('images/dummy.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
  cursor: pointer;
}

.field-type-image .preview label {
  margin: 0;
  border: none;
  text-transform: none;
  font-weight: normal;
}

.media-widget:before, .media-widget:after {
  content: "";
  display: table;
  line-height: 0;
}

.media-widget:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/**
 * The title is bigger and more prominent==================================
 */

.page-node-add .form-item-title #edit-title {
  font-size: 150%;
}

.form-item-title {
  padding: 0;
  border: 0px solid transparent;
}


/**
 * Fieldsets + Collapsibles ==================================================
 */

.fieldset-title {
  text-transform: none;
}
fieldset.fieldset {
  border: 0;
  margin-bottom: 1em;
  background: transparent;
}
fieldset.titled,
fieldset.collapsible {
  border: 1px solid #b3afa8;
  border-radius: 7px;
}
.fieldset span.fieldset-title {
  background:#CCC8BF;
  color:#65635f;
  display:block;
  font-size:14px;
  line-height:20px;
  margin:0px;
  padding: 10px 14px;
  border-radius: 7px 7px 0 0;
  text-transform: none;
  border-bottom: 1px solid #b3afa8;
}

.collapsed span.fieldset-title {
  border-radius: 7px;
  border-bottom: 0;
}

.collapsible span.fieldset-title {
  padding: 0;
}

.collapsible .fieldset-legend a {
  padding: 10px 14px;
}

/* Explicit height for IE */
.fieldset span.fieldset-title,
.collapsible .fieldset-legend a { height:20px; }
.collapsible span.fieldset-title { height:40px; }

.collapsible .fieldset-legend span.icon {
  position:absolute;
  top:4px;
  left:-31px;
  background:url(images/plus_minus.png) center -5px no-repeat;
  width:30px;
  height:30px;
  display:block;
  cursor:pointer;
  border-radius: 3px 0 0 3px;
  border: 1px solid #444;
  border-right: 0;
}

html.js .collapsed .fieldset-legend span.icon {
  background-position: center -45px;
}

.fieldset .collapsible .fieldset-legend span.icon { display:block; }

fieldset.fieldset,
fieldset.collapsed {
  border-radius: 7px;
}
.collapsed .fieldset-legend a {
  background:#CCC8BF;
  color:#65635f;
  border-radius: 7px;
  border-bottom: none;
}

.collapsible .fieldset-legend a:focus,
.collapsible .fieldset-legend a:active,
.collapsible .fieldset-legend a:hover { color:#666; }

.fieldset legend,
.collapsible .fieldset-legend {
  padding:0px;
  background:transparent;
}

.fieldset .fieldset-content {
  background: none transparent;
  border: 0;
}
.container-inline .fieldset-content,
.titled .fieldset-content {
  padding:10px 9px 9px;
  background: #f8f7f4 none;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 0 3px #E0E0E0;
  -webkit-box-shadow: #E0E0E0;
  box-shadow: #E0E0E0;
}


html.js .collapsed .fieldset-content { display:none; }

.fieldset .fieldset .fieldset-content { background:none transparent; }

.filter-wrapper .fieldset-content,
.fieldset .fieldset.filter-wrapper .fieldset-content  {
  background:transparent;
  border-top:0px;
  height:20px;
  padding:5px 9px 4px;
}
.container-inline .fieldset-legend .fieldset-content,
fieldset.titled .fieldset-content,
fieldset.fieldset.titled .fieldset-content,
fieldset.collapsible.titled .fieldset-content {
  padding-top: 4em;
  padding-bottom: 2em;
}
fieldset.fieldset.titled .fieldset-content fieldset:not(.titled) .fieldset-content {
  padding-top: 0em;
}

fieldset.collapsible.titled .fieldset-content {
  background-color: #F8F7F4;
}

/* ---- zweite Ebene ---- */

fieldset.fieldset .fieldset,
fieldset.collapsible .collapsible {
  border-color: #c6c2ba;
}
.fieldset .fieldset .fieldset-legend,
.fieldset .collapsible .fieldset-legend,
.fieldset .collapsible .fieldset-legend a {
  background:#e4dfd6;
  border-color: #c6c2ba;
}
.fieldset .field-group-heading > legend > .fieldset-legend {
  background: transparent;
}
.collapsible .collapsible .fieldset-legend,
.collapsible .collapsible .fieldset-legend a {
  padding-left: 20px;
}

.fieldset fieldset.titled .fieldset-content {
  background-color: #F8F7F4;
}
.fieldset .titled .fieldset-content,
.collapsible fieldset.collapsible .fieldset-content {
  background: #f5f1e8 none;
}
.collapsible .collapsible .fieldset-legend span.icon {
  transform: rotate(90deg);
  left:10px;
  top:10px;
  background:url(images/ae_pfeil_beige.png) center center no-repeat;
  width:20px;
  height:20px;
  border-radius: 0;
  border: none;
}

html.js .collapsible .collapsed .fieldset-legend span.icon {
  background-position: center;
}
.collapsible .collapsed .fieldset-legend span.icon {
  transform: rotate(0deg);
}

.fieldset .collapsible {
  margin-left: 30px;
}
.collapsible .collapsible {
  margin-left: 0;
}

/* reversing fieldset collapsible for some fields like pgbar */

fieldset.field-group-heading,
.field-type-pgbar fieldset.form-wrapper {
  background: none transparent;
  border: 0px solid transparent;
  border-radius: 0px;
}

fieldset.field-group-heading legend span.fieldset-title,
.field-type-pgbar fieldset.form-wrapper legend span {
  background: none transparent;
  border: 0px solid transparent;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #C4C0BA;
  margin-top: 1em;
  margin-bottom: 1em;
}
fieldset.field-group-heading .fieldset-content legend span.fieldset-title,
.field-type-pgbar fieldset.form-wrapper .fieldset-content legend span {
  text-transform: none;
  border: none;
  text-align: left;
  margin: 0;
  font-weight: bold;
}
.fieldset .vertical-tabs-pane legend span.fieldset-title {
  background: none transparent;
  display: none;
}
.vertical-tabs .vertical-tabs-pane .fieldset-content {
  background: none transparent;
}
.vertical-tabs fieldset.default-fallback.collapsible {
  padding: 0;
}
.vertical-tabs-pane > .fieldset-content {
  padding: 1em!important;
}

fieldset.field-group-heading .fieldset-content,
.field-type-pgbar fieldset.form-wrapper .fieldset-content {
  background: none transparent;
}

fieldset.field-group-heading .description,
.field-type-pgbar .description {
}

fieldset.field-group-fieldset.collapsible {
  margin-bottom: 2em;
}
.fieldset fieldset.field-group-fieldset.collapsible {
  margin-bottom: 1em;
}
.field-type-text-with-summary {
  margin-bottom: 1em;
}
fieldset.field-group-heading.field-group-no-label legend span.fieldset-title {
  padding: 0;
  margin: 0;
  height: 1px;
  text-indent: -20000px;
}
fieldset.field-group-heading.field-group-no-label .fieldset-content {
  padding-top: 1em;
}

/**
 * SPAMICIDE HIDDEN ====================================================
 * The spamicide module adds fieldsets to all forms it can find. It's not desired on the admin interface and breaks some styles
 * Therefore we'll hide it.
 */

#edit-spamicide, #edit-spamicide--2, #edit-spamicide--3, #edit-spamicide--4 {
  display: none;
}

/* other stuff non-techy people don't need */
.wysiwyg-toggle-wrapper, .form-textarea-wrapper .filter-wrapper,
.form-textarea-wrapper .filter-wrapper .fieldset-content, .field-widget-text-textarea-with-summary .filter-wrapper .fieldset-content,
.field-widget-text-textarea-with-summary .filter-wrapper {
  display: none;
}

/** CKE editor **/
.cke_show_borders ul {
  margin-left: 2em;
}
.cke_show_borders ul ,
.cke_show_borders ul li {
  list-style-type: disc;
}
.cke_show_borders ol {
  margin-left: 2em;
  list-style-type: decimal;
}
/* views bulk operations */

.vbo-views-form #edit-select {
  max-width: 50em;
  margin-bottom: 3px;
  position: relative;
}

.vbo-views-form #edit-select:after {
  content: ".";
  display: block;
  text-indent: -5000px;
  background: url('images/zacke_grau.png') no-repeat center center transparent;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: -15px;
  left: 60px;
}

.vbo-views-form #edit-select input {
  margin-bottom: 10px;
  float: left;
}

/* wysiwyg reset kill
make things in wysiwyg editor visible
 */


.cke_show_borders div, .cke_show_borders span, .cke_show_borders object, .cke_show_borders iframe,.cke_show_borders  h1,.cke_show_borders  h2,.cke_show_borders  h3,.cke_show_borders  h4,
.cke_show_borders h5,.cke_show_borders  h6,.cke_show_borders  p,
.cke_show_borders blockquote,.cke_show_borders  pre,.cke_show_borders  address,.cke_show_borders img,.cke_show_borders  dl, .cke_show_borders dt, .cke_show_borders dd,
.cke_show_borders ol, .cke_show_borders ul, .cke_show_borders fieldset, .cke_show_borders form, .cke_show_borders input, .cke_show_borders select, .cke_show_borders textarea, .cke_show_borders table {
  margin-bottom: 20px;
}

.cke_show_borders ul {
  list-style-type: normal;
  list-style-position: inside;
}

/** CKE editor **/
.cke_show_borders ul {
  margin-left: 2em;
}
.cke_show_borders ul ,
.cke_show_borders ul li {
  list-style-type: disc;
}
.cke_show_borders ol {
  margin-left: 2em;
  list-style-type: decimal;
}


.cke_show_borders h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}



.cke_show_borders h3 {
  font-size: 25px;
  font-weight: bold;
}

.cke_show_borders h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.cke_show_borders h5 {
  font-size: 15px;
  font-weight: bold;
}

.cke_show_borders h6 {
  font-size: 15px;
  font-style: italic;
}

body.cke_show_borders {
  padding: 13px 3%;
}

/* table sticky header css fix */

.table.sticky-header {
  top: 0px!important;
}


#modalContent .ctools-modal-content {

  background:    repeat 0 0 #F5F1E8;
  border-radius: 4px 4px 4px 4px;
  border:        0 solid #AAAAAA;
  box-shadow:    0 0 15px #545351;

  color:       #222222;
  font-size:   1.1em;
  font-family: Verdana,Arial,sans-serif;

  padding: 0.2em 0.2em 16px;
}

#modalContent .ctools-modal-content .modal-header {
  background:    repeat 0 0 #D9D5CD;
  border-radius: 4px 4px 0px 0px;
  min-height:    2em;
  padding:       0.6em 0 0.2em 1.3em;
}

#modalContent .ctools-modal-content .modal-title {
  color: #555555;
}

#modalContent .ctools-modal-content fieldset {
  clear: none;
}

#modalContent .ctools-modal-content fieldset .fieldset-content {
  background-color: transparent;
}

.ae-webform-widget textarea {
  font-family: monospace;
  font-size: 1em;
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  background-color: white;
}
